.product-list-container {
  width: 90%;
  margin: auto;
}
.list-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0;
}
.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
